.carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.carouselSlider {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carouselSlide {
  flex: 0 0 100%; /* Each slide takes up 100% of the container's width */
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
